<mat-list>
  <!-- Itera sobre la lista de usuarios -->
  <mat-list-item
    *ngFor="let user of users"
    class="list-item"
  >
    <!-- Contenedor principal con flex para alinear elementos -->
    <div class="item flex items-center w-full h-full">
      <!-- Ícono del usuario -->
      <mat-icon class="icon">person</mat-icon>
      <!-- Información del usuario -->
      <div class="flex-1 h-full">
        <a
          matListItemTitle
          href="#"
          class="UserName"
          (click)="openUserDetails(user)"
        >
          {{ user.username }}
        </a>
        <p matListItemLine class="text-sm text-gray-500">
          <mat-icon class="text-gray-400 align-middle">email</mat-icon>
          <span class="ml-1"><strong>Email:</strong> {{ user.email }}</span>
        </p>
      </div>
    </div>
  </mat-list-item>
</mat-list>
